<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <!--作用
        配置数据库环境；加载映射文件
    -->
<configuration>
    <!--setting mybatis参数配置-->
    <settings>
        <!--日志打印到控制台-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--mapUnderscoreToCamelCase 开启驼峰命名自动映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>